@import "index.scss";

.cart-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-top: 1px solid #e5e5e5;
  padding: 5px;
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__brand {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
  }
  &__product-name {
    color: #1d1f22;
    font-size: 27px;
    font-weight: 100;
    margin: 8px 0;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
  }
  &__right {
    display: flex;
    padding: 10px;
  }
  &__count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button {
      width: 45px;
      height: 45px;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;
      font-size: 30px;
    }
    button:hover {
      background-color: #000;
      color: #fff;
    }
  }
  &__attr-row {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 27px;
  }
  &__attr-item {
    margin-right: 8px;
    button {
      width: 63px;
      height: 45px;
      border: 1px solid #1d1f22;
      background-color: #fff;
      cursor: pointer;
    }
  }
  &__img-wrapper {
    position: relative;
    height: 185px;
    width: 141px;
    margin-left: 18px;
    img {
      width: 100%;
      height: 100%;
    }

    .arrow-div {
      position: absolute;
      top: 45%;
      left: 0;
      z-index: 1;
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .arrow {
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
      }
      .arrow:hover {
        box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.8);
        path {
          stroke: grey;
        }
      }
    }
  }
  input[type="radio"] {
    display: none;
  }
  .inputChecked #swatch {
    box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.82);
    -webkit-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.82);
  }
  .inputChecked {
    background-color: #000;
    color: #fff;
  }
  .inputChecked .custom-radio {
    color: #fff;
  }
  .custom-radio {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    border: 1px solid $text-color;
    width: 65px;
    height: 45px;
  }
}
@media (max-width:500px){
  .cart-item-wrapper {
    width: 100%;
    margin: 0;
    &__brand {
      font-size: 22px;
    }
    &__product-name {
      font-size: 17px;
    }
    &__right{
      max-width: 40%;
    }
    &__attr-row {
      flex-wrap: wrap;
      max-width: 100%;
    }
    &__count {
      button {
        width: 25px;
        height: 25px;
        font-size: 17px;
      }
    }
    .custom-radio {
      font-size: 14px;
      width: 45px;
      height: 35px;
    }
    &__img-wrapper {
      height: 120px;
      width: 100px;
      margin-left: 18px;
    }
  }
}