@import "index.scss";

.cart-item-wrapper {
  display: flex;
  justify-content: space-between;
//   margin: 0 100px;
  align-items: center;
  margin-bottom: 40px;
  border-top: 1px solid #e5e5e5;
  padding: 5px;
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__brand {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
  }
  &__product-name{
    color: #1D1F22;
    font-size: 27px;
    font-weight: 100;
    margin: 8px 0;
  }
  &__price{
    font-size: 24px;
    font-weight: 700;
  }
  &__right {
    display: flex;
    padding: 10px;
    img {
      height: 185px;
      width: 141px;
      margin-left: 18px;
    }
  }
  &__count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button {
      width: 45px;
      height: 45px;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;
      font-size: 30px;
    }
    button:hover{
        background-color: #000;
        color: #fff;
    }
  }
  &__attr-row {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 27px;
  }
  &__attr-item {
    margin-right: 8px;
    button {
      width: 63px;
      height: 45px;
      border: 1px solid #1d1f22;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
