@import "index.scss";
.modal-cover {
  position: fixed;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 1.0;
  z-index : 5;
  background: rgba(57, 55, 72, 0.22);
  display: block;
}
.cart-overlay-wrapper {
  position: absolute;
  z-index: 2;
  overflow: scroll;
  background-color: #fff;
  right: 120px;
  width: 325px;
  height: 540px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  header{
      font-weight: bold;
      span{
          font-weight: 500;
          margin-left: 5px;
      }
      margin-bottom: 25px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  &__footer-btns {
      display:flex;
      justify-content: space-evenly;
      margin-top: 35px;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000;
      width: 140px;
      height: 43px;
      border: 1px solid #1d1f22;
      background-color: #fff;
      cursor: pointer;
      text-transform: uppercase;
    }
    .link:hover{
        background-color: $fade-green;
        color: #fff;
    }
  }
}
