@import "index.scss";
.currency-overlay-wrapper {
  height: 169px;
  width: 114px;
  padding: 20px 0;
  position: absolute;
  z-index: 3;
  top: 40px;
  left: -10px;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 18px 8px rgba(0,0,0,0.15);
  -webkit-box-shadow: 1px 2px 18px 8px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 2px 18px 8px rgba(0,0,0,0.15);
  &__item{
    width: 100%;
    text-align: center;
    padding: 3px 20px;
  }
  &__item:hover{
    background-color: lightgray;
  }
}
