@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import "index.scss";

.item-wrapper {
  position: relative;
  display: flex;
  text-decoration: none;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: $gray-text;
  padding: 11px 14px 16px 16px;
  width: 386px;
  height: 444px;
  &__img-wrapper{
    position: relative;
    .hide{
      display: none;
    }
    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.6);
    }
    .center{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 24px;
      z-index: 2;
      text-transform: uppercase;
      color: $gray-text;
      transform: translate(-50%,-50%);
    }
  }
  &__img {
    width: 356px;
    height: 338px;
    object-fit: contain;
  }
  
  &__describtion {
    margin-top: 20px;
  }
}
.item-wrapper:hover {
  box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.62);
}
.item-wrapper:hover:after {
  position: absolute;
  content: url("../assets/addToCartImg.svg");
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
}
