@import "index.scss";

.product-grid-wrapper {
  position: absolute;
  padding: 0 100px;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  left: 0;
  right: 0;
  margin-inline: auto;
  place-items: center;
  h1 {
    text-transform: capitalize;
    margin: 50px 0px 50px 0px;
    grid-column: span 3;
    justify-self: flex-start;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .product-grid-wrapper {
    padding: 0 5px;
    gap: 40px;
    h1 {
      width: 90%;
    }
  }
}
